
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000408;
  background-color: #fafbfc;
}

div {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

hr {
  width: 80%;
  margin: 2rem auto;
  height: .2rem;
  background-color: #8899aa;
  border: none;
}

.subtitle {
  font-size: 75%;
  color: #8899aa;
}

#loading, #content {
  width: 66%;
  margin: auto;
  border: .2rem solid #8899aa;
  border-radius: 2rem;
  padding: 2rem;
}

.inlinebox {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  background-color: #eaedef;
  padding: 1rem;
}

.header {
  font-size: 120%;
  font-weight: bolder;
  color: #8899aa;
  text-align: center;
}

input {
  width: 100%;
  text-align: center;
  font-size: 120%;
}

input[type=radio] {
  width: 46%;
  display: inline-block;
  cursor: pointer;
  height: 1.2rem;
}

label {
  width: 50%;
  float: right;
  display: inline-block;
  cursor: pointer;
  height: 1.4rem;
  padding-top: .3rem;
  vertical-align: middle;
}

.radio {
  background-color: #cacdef;
  margin: .3rem;
}

/* -- results -- */

.result {
  margin: 1rem;
  padding: .4rem;
  border: .2rem solid #8899aa;
  border-radius: .5rem;
  background-color: #eaedef;
}

.result.best {
  background-color: #eaffef;
  border-color: #88ffaa;
}

.chart {
  display: inline-block;
  width: 40%;
  height: 6rem;
  margin: 1rem;
}

.info {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin: 1rem;
  padding: .4rem;
}

.exchange {
  font-size: 150%;
  font-weight: bolder;
  color: #8899aa;
  margin: .1rem .3rem;
}

.quantity {
  font-size: 130%;
  margin: .05rem .3rem;
}

.betterby {
  font-size: 80%;
  margin: .05rem .3rem;
}

